<template>
  <div class="home">
    <QuestionItem
      v-for="question in currentQuestion"
      :key="question.id"
      :question="question"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import QuestionItem from "@/components/QuestionItem";

export default {
  name: "Home",
  components: {
    QuestionItem
  },
  data() {
    return {
      currentIndex: 0
    };
  },
  methods: {
    prev() {
      if (this.currentIndex === 0) {
        return;
      }
      this.currentIndex--;
    },
    next() {
      if (this.currentIndex > this.$store.state.questions.length) {
        return;
      }
      this.currentIndex++;
    }
  },
  computed: {
    ...mapGetters(["currentQuestion"])
  }
};
</script>

<style lang="scss">
.home {
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 10px;
  background: darken(#eff2fc, 2);
  flex-grow: 1;
  box-shadow: 0 0 0.5px var(--black-100);
}
</style>
