<template>
  <codemirror :value="code" :options="options" />
</template>

<script>
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/mode/javascript/javascript.js";
import "codemirror/theme/monokai.css";

export default {
  name: "CodeMirror",
  components: {
    codemirror
  },
  props: {
    code: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      options: {
        tabSize: 2,
        mode: "text/javascript",
        theme: "monokai",
        lineNumbers: true,
        line: true,
        readOnly: true
      }
    };
  }
};
</script>

<style lang="scss">
.CodeMirror {
  padding: 1rem 0;
  line-height: 1.5;
  height: auto;
  border-radius: 10px;
}
</style>
