<template>
  <article class="question">
    <h2 class="mb-1 title">{{ question.title }}</h2>
    <code-mirror class="mb-1" v-if="question.code" :code="question.code" />
    <ul>
      <li
        class="answer-item"
        :class="selected(option) ? 'selected' : ''"
        v-for="(option, index) in question.options"
        :key="option.text"
        @click="onSelectAnswer(option)"
      >
        <span class="letter">{{ letters[index] }}</span>
        <span class="answer">{{ option.text | formatOption }}</span>
      </li>
    </ul>
    <div class="buttons">
      <TheButton :onClick="showExplanation" :disabled="!answer" type="info"
        >Tell me why</TheButton
      >
      <TheButton :onClick="onCheckAnswer" :disabled="!answer"
        >Check Answer</TheButton
      >
    </div>
    <TheModal v-if="showModal" @close="showModal = false">
      <header slot="header">Explanation</header>
      <p slot="body" v-html="explanation" />
      <footer slot="footer" class="text-right">
        <TheButton :onClick="nextQuestion" :disabled="!answer" type="info"
          >Next Question</TheButton
        >
      </footer>
    </TheModal>
  </article>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CodeMirror from "@/components/CodeMirror";
import TheButton from "@/components/TheButton";
import TheModal from "@/components/TheModal";
import marked from "marked";

export default {
  name: "QuestionItem",
  props: {
    question: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showModal: false
    };
  },
  mounted() {
    this.$watch("showConfetti", this.handleConfetti);
  },
  filters: {
    formatOption(value) {
      return value.replace(/`/g, "");
    }
  },
  components: {
    CodeMirror,
    TheButton,
    TheModal
  },
  computed: {
    ...mapGetters(["answer", "letters", "showConfetti", "confettiTimeout"]),
    explanation() {
      return marked(this.question.explanation);
    }
  },
  methods: {
    ...mapActions(["onSelectAnswer", "onCheckAnswer"]),
    selected(option) {
      if (!this.answer) {
        return false;
      }
      return this.answer.text === option.text;
    },
    showExplanation() {
      this.showModal = true;
    },
    nextQuestion() {
      this.$store.dispatch("onShowExplanation");
    },
    handleConfetti() {
      if (this.showConfetti) {
        this.$confetti.start();
        setTimeout(() => {
          this.$confetti.stop();
        }, this.confettiTimeout);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.question {
  padding: 2rem;
}

.answer-item {
  background-color: var(--white);
  border-radius: 10px;
  color: var(--black-100);
  display: flex;
  align-items: center;
  transition: box-shadow 0.2s ease-in-out;
  margin-bottom: var(--mb-1);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &.selected,
  &.selected {
    box-shadow: 0px 0px 5px var(--purple-100);
    color: var(--purple-200);
  }
}

.letter {
  font-size: 24px;
  font-weight: 600;
  padding: 1.5rem;
}

.letter,
.answer {
  display: block;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > button {
    width: 100%;
  }

  button:first-child {
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: 460px) {
    & {
      justify-content: flex-end;
    }

    button:first-child {
      margin-bottom: 0;
    }

    & > button {
      width: 170px;
    }

    :nth-child(1) {
      margin-right: 1.5rem;
    }
  }
}

.text-right {
  text-align: right;
}
</style>
