<template>
  <button @click="onClick" :disabled="disabled" class="button" :class="type">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "TheButton",
  props: {
    type: {
      type: String,
      default: "default"
    },
    disabled: {
      type: Boolean,
      default: false
    },
    onClick: {
      type: Function,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.button {
  padding: 1rem 1.5rem;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  min-width: 170px;
  height: 60px;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
  }

  &.default {
    background-color: var(--red-100);

    &:not(:disabled) {
      background-color: darken(#ff5666, 10);
    }
  }

  &.info {
    background-color: var(--green-100);

    &:not(:disabled) {
      background-color: darken(#19edc1, 15);
    }
  }
}
</style>
