<template>
  <router-view />
</template>

<style lang="scss">
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --bg-color: #eff2fc;
  --black-100: #192030;
  --black-200: #1d3151;
  --red-100: #ff5666;
  --red-200: #ff5363;
  --purple-100: #916fe8;
  --purple-200: #4312b2;
  --green-100: #19edc1;
  --font-family: "Open Sans", sans-serif;

  --mb-1: 1.5rem;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.mb-1 {
  margin-bottom: var(--mb-1);
}

.title {
  font-size: 32px;
}
</style>
